<a href="https://colab.research.google.com/github/leoPuerto01/CS539-project/blob/main/Copy_of_CS_539_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import requests

In [3]:
path = "ma.xlsx"
df = pd.read_excel(path)
print(df.info)

<bound method DataFrame.info of           status  bed  bath  acre_lot           city          state  zip_code  \
0       for_sale  3.0   2.0      0.20       Abington  Massachusetts    2351.0
1       for_sale  2.0   1.0       NaN       Abington  Massachusetts    2351.0
2       for_sale  NaN   NaN      9.11       Abington  Massachusetts    2351.0
3       for_sale  8.0   4.0      0.29       Abington  Massachusetts    2351.0
4       for_sale  3.0   2.0      0.20       Abington  Massachusetts    2351.0
...          ...  ...   ...       ...            ...            ...       ...
173474  for_sale  3.0   3.0      0.46  Yarmouth Port  Massachusetts    2675.0
173475  for_sale  3.0   2.0      0.34  Yarmouth Port  Massachusetts    2675.0
173476  for_sale  5.0   7.0      1.97  Yarmouth Port  Massachusetts    2675.0
173477  for_sale  3.0   2.0      0.28  Yarmouth Port  Massachusetts    2675.0
173478  for_sale  2.0   2.0       NaN  Yarmouth Port  Massachusetts    2675.0

        house_size prev_sold_date    price
0           1536.0     1990-01-26   525000
1            896.0     2007-05-31   269000
2              NaN            NaT   250000
3           3343.0            NaT   695000
4           1536.0     1990-01-26   525000
...            ...            ...      ...
173474      3500.0     2000-05-22  1050000
173475      1784.0            NaT   599000
173476      6182.0            NaT  3750000
173477      1192.0     2004-05-25   499000
173478      1108.0            NaT   449000

[173479 rows x 10 columns]>

In [4]:
#Feiquan-delete columns'prev_sold_date'and 'status'before deleting the missing value.
#So the n/a rows related these features will not be deleted by mistake.
#Because these features doesn't make sense in our model.
df=df.drop('prev_sold_date', axis=1)
df=df.drop('status', axis=1)
print(df)

        bed  bath  acre_lot           city          state  zip_code  \
0       3.0   2.0      0.20       Abington  Massachusetts    2351.0
1       2.0   1.0       NaN       Abington  Massachusetts    2351.0
2       NaN   NaN      9.11       Abington  Massachusetts    2351.0
3       8.0   4.0      0.29       Abington  Massachusetts    2351.0
4       3.0   2.0      0.20       Abington  Massachusetts    2351.0
...     ...   ...       ...            ...            ...       ...
173474  3.0   3.0      0.46  Yarmouth Port  Massachusetts    2675.0
173475  3.0   2.0      0.34  Yarmouth Port  Massachusetts    2675.0
173476  5.0   7.0      1.97  Yarmouth Port  Massachusetts    2675.0
173477  3.0   2.0      0.28  Yarmouth Port  Massachusetts    2675.0
173478  2.0   2.0       NaN  Yarmouth Port  Massachusetts    2675.0

        house_size    price
0           1536.0   525000
1            896.0   269000
2              NaN   250000
3           3343.0   695000
4           1536.0   525000
...            ...      ...
173474      3500.0  1050000
173475      1784.0   599000
173476      6182.0  3750000
173477      1192.0   499000
173478      1108.0   449000

[173479 rows x 8 columns]

In [5]:
# Remove rows with missing values
df = df.dropna()
print(df.info)

<bound method DataFrame.info of         bed  bath  acre_lot           city          state  zip_code  \
0       3.0   2.0      0.20       Abington  Massachusetts    2351.0
3       8.0   4.0      0.29       Abington  Massachusetts    2351.0
4       3.0   2.0      0.20       Abington  Massachusetts    2351.0
5       3.0   2.0      0.29       Abington  Massachusetts    2351.0
6       3.0   2.0      0.45       Abington  Massachusetts    2351.0
...     ...   ...       ...            ...            ...       ...
173473  3.0   2.0      0.46  Yarmouth Port  Massachusetts    2675.0
173474  3.0   3.0      0.46  Yarmouth Port  Massachusetts    2675.0
173475  3.0   2.0      0.34  Yarmouth Port  Massachusetts    2675.0
173476  5.0   7.0      1.97  Yarmouth Port  Massachusetts    2675.0
173477  3.0   2.0      0.28  Yarmouth Port  Massachusetts    2675.0

        house_size    price
0           1536.0   525000
3           3343.0   695000
4           1536.0   525000
5           1575.0   449900
6           1932.0   649900
...            ...      ...
173473      2334.0   749000
173474      3500.0  1050000
173475      1784.0   599000
173476      6182.0  3750000
173477      1192.0   499000

[102751 rows x 8 columns]>

In [6]:
#Feiquan
#Get unique city and zipcode pairs
uniqueCityZip = df[['city','zip_code']].drop_duplicates().reset_index(drop=True)
print(uniqueCityZip)

              city  zip_code
0         Abington    2351.0
1            Acton    1720.0
2         Acushnet    2743.0
3            Adams    1220.0
4           Agawam    1001.0
..             ...       ...
543       Wrentham    2893.0
544       Yarmouth    2673.0
545       Yarmouth    2664.0
546       Yarmouth    2675.0
547  Yarmouth Port    2675.0

[548 rows x 2 columns]

In [7]:
# Get unique values from the zip_code column
unique_zipcodes = df['zip_code'].unique()
print(unique_zipcodes)
print(len(unique_zipcodes))

[2351. 1720. 2743. 1220. 1001. 1030. 1230. 1266. 1913. 1983. 1002. 1810.
 2535. 2476. 2474. 1430. 1431. 1330. 1721. 1331. 2703. 1501. 2322. 1432.
 2648. 2635. 2601. 2655. 2668. 2632. 2630. 2672. 2634. 1005. 1223. 1730.
 1007. 2019. 2478. 2779. 1503. 1337. 1915. 1862. 1821. 1504. 1008. 1740.
 2135. 2130. 2131. 2115. 2199. 2108. 2114. 2116. 2215. 2120. 2134. 2129.
 2467. 2119. 2132. 2121. 2118. 2124. 2122. 2128. 2125. 2111. 2127. 2110.
 2109. 2136. 2126. 2113. 2210. 2532. 2562. 2559. 1719. 1921. 1505. 2184.
 2631. 2324. 1010. 2301. 2302. 1506. 2445. 2446. 1338. 1339. 1803. 2141.
 2138. 2140. 2139. 2021. 1741. 2330. 2534. 1507. 2633. 1863. 1824. 2150.
 1225. 1011. 1012. 1020. 1013. 1247. 1510. 2025. 1340. 1742. 1341. 2675.
 1026. 1226. 1923. 2748. 2747. 2026. 1373. 2638. 2639. 2660. 2670. 2764.
 2715. 1516. 2030. 1826. 1571. 1827. 2332. 2333. 1515. 2641. 2536. 2645.
 1028. 2537. 2538. 2642. 1027. 2356. 2375. 2539. 1344. 1929. 2149. 2719.
 2720. 2721. 2723. 2724. 2540. 2556. 1420. 1367. 2644. 2035. 1701. 1702.
 2038. 2717. 2702. 1440. 1833. 1354. 1930. 1560. 1536. 1519. 1033. 1034.
 1236. 1301. 1450. 1834. 1035. 2338. 1982. 1036. 1237. 2339. 2341. 1031.
 1451. 2646. 1088. 1830. 1832. 1835. 2043. 1235. 2343. 1522. 1520. 1521.
 1746. 1040. 1747. 1748. 1452. 1749. 2045. 1050. 2647. 1938. 2364. 2347.
 1523. 1843. 1841. 1840. 1238. 1611. 1524. 1542. 1240. 1453. 1054. 2420.
 2421. 1773. 1460. 1106. 1854. 1852. 1851. 1850. 1056. 1462. 1901. 1902.
 1904. 1905. 1940. 2148. 1944. 2048. 1945. 2738. 1752. 2050. 2649. 2739.
 1754. 2052. 2155. 2053. 2176. 1756. 1860. 1844. 2346. 1949. 1757. 1527.
 2054. 1529. 2186. 1350. 1057. 1376. 1351. 1245. 1085. 2553. 1258. 1908.
 2554. 2564. 1760. 2492. 2494. 2745. 2740. 2746. 2744. 1531. 1259. 1244.
 1355. 1951. 1922. 1950. 2466. 2458. 2459. 2465. 2460. 2468. 2461. 2462.
 2464. 2056. 1845. 2760. 1535. 2650. 2651. 1864. 2652. 1062. 1060. 1053.
 1532. 1588. 1534. 1558. 2766. 2061. 2062. 2557. 2568. 1068. 2558. 1364.
 2653. 1253. 1537. 1540. 1069. 1080. 1612. 1960. 2359. 1463. 1201. 1070.
 2762. 2360. 2367. 1541. 2657. 2171. 2169. 2170. 2368. 2767. 1867. 2769.
 2151. 1254. 2770. 2576. 2370. 1966. 1969. 1368. 1071. 1543. 1970. 1952.
 1255. 2563. 1906. 1256. 2066. 2771. 2067. 1257. 1222. 1370. 1770. 1464.
 1545. 1072. 2726. 2725. 2144. 2143. 2145. 2659. 1075. 2664. 1073. 1772.
 1550. 1077. 1562. 1592. 1151. 1104. 1109. 1108. 1105. 1118. 1129. 1107.
 1119. 1128. 1564. 1262. 2180. 2072. 1775. 1566. 1518. 1776. 1375. 1590.
 1907. 2777. 2780. 2718. 1468. 1436. 1876. 1469. 1474. 2666. 1879. 1264.
 1568. 1569. 1880. 1081. 2081. 2032. 2452. 2451. 2453. 1082. 2571. 1083.
 1092. 1378. 2472. 1778. 1570. 2482. 2481. 2667. 1984. 1583. 2379. 1585.
 2671. 1985. 1089. 2575. 2673. 1581. 1886. 1473. 2493. 2790. 2791. 2090.
 2188. 2189. 2190. 2191. 1093. 2382. 1095. 1096. 1038. 1267. 1887. 1475.
 1890. 1270. 2152. 1801. 2543. 1604. 1602. 1610. 1605. 1603. 1606. 1607.
 1609. 1098. 2093. 2893.]
484

In [8]:
# Wael's cell
df['crime_index'] = np.zeros(len(df))

crime_index_dict = {
  'Abington': 1074,
  'Acton': 474,
  'Adams': 1502,
  'Agawam': 666,
  'Alford': 1935,
  'Amesbury': 821,
  'Amherst': 833,
  'Andover': 423,
  'Arlington': 652,
  'Ashburnham': 675,
  'Ashby': 646,
  'Ashland': 518,
  'Athol': 1377,
  'Attleboro': 1114,
  'Auburn': 1370,
  'Avon': 1508,
  'Ayer': 1250,
  'Barnstable': 1929,
  'Barre': 1038,
  'Becket': 1062,
  'Bedford': 328,
  'Belchertown': 622,
  'Bellingham': 771,
  'Belmont': 553,
  'Berkley': 553,
  'Bernardston': 477,
  'Beverly': 840,
  'Billerica': 556,
  'Blackstone': 686,
  'Blandford': 482,
  'Bolton': 550,
  'Boston': 2609,
  'Bourne': 1597,
  'Bournedale': 1597,
  'Boxborough': 425,
  'Boxford': 164,
  'Braintree': 1026,
  'Brewster': 789,
  'Bridgewater': 489,
  'Brimfield': 243,
  'Brockton': 2605,
  'Brookline': 664,
  'Buckland': 531,
  'Burlington': 1028,
  'Buzzards Bay': 1597,
  'Cambridge': 1512,
  'Canton': 603,
  'Carlisle': 167,
  'Carver': 791,
  'Centerville': 1929,
  'Charlton': 591,
  'Chatham': 954,
  'Chelmsford': 610,
  'Chelsea': 3483,
  'Cheshire': 154,
  'Chester': 476,
  'Chicopee': 1820,
  'Chilmark': 658,
  'Clarksburg': 1935,
  'Clinton': 238,
  'Cohasset': 553,
  'Colrain': 3621,
  'Concord': 443,
  'Cotuit': 1929,
  'Cummaquid': 1929,
  'Cummington': 389,
  'Dalton': 748,
  'Danvers': 1171,
  'Dartmouth': 1248,
  'Dedham': 812,
  'Deerfield': 996,
  'Dennis': 1911,
  'Dennis Port': 1911,
  'Dighton': 414,
  'Douglas': 471,
  'Dover': 250,
  'Dracut': 500,
  'Dudley': 609,
  'Dunstable': 460,
  'Duxbury': 277,
  'East Bridgewater': 689,
  'East Brookfield': 680,
  'East Dennis': 1911,
  'East Falmouth': 1820,
  'East Harwich': 1109,
  'East Longmeadow': 939,
  'East Sandwich': 778,
  'East Wareham': 1998,
  'Eastham': 841,
  'Easthampton': 743,
  'Easton': 488,
  'Edgartown': 1216,
  'Egremont': 1935,
  'Essex': 425,
  'Everett': 1653,
  'Fairhaven': 1495,
  'Fall River': 2716,
  'Falmouth': 1820,
  'Fitchburg': 1893,
  'Florida': 1935,
  'Forestdale': 778,
  'Foxboro': 862,
  'Framingham': 997,
  'Franklin': 170,
  'Freetown': 1369,
  'Gardner': 1701,
  'Georgetown': 295,
  'Gloucester': 711,
  'Grafton': 383,
  'Granby': 640,
  'Granville': 277,
  'Great Barrington': 1065,
  'Greenfield': 1961,
  'Groton': 191,
  'Hadley': 1595,
  'Halifax': ,
  'Hamilton': ,
  'Hampden': ,
  'Hancock': ,
  'Hanover': ,
  'Hanson': ,
  'Hardwick': ,
  'Harwich': ,
  'Harwich Port': ,
  'Haverhill': ,
  'Hingham': ,
  'Hinsdale': ,
  'Holbrook': ,
  'Holden': ,
  'Holland': ,
  'Holliston': ,
  'Holyoke': ,
  'Hopedale': ,
  'Hopkinton': ,
  'Hubbardston': ,
  'Hudson': ,
  'Hull': ,
  'Huntington': ,
  'Hyannis': ,
  'Hyde Park': ,
 'Ipswich' 'Kingston' 'Lakeville' 'Lancaster' 'Lanesborough' 'Lawrence'
 'Lee' 'Leicester' 'Lenox' 'Leominster' 'Leverett' 'Lexington' 'Lincoln'
 'Littleton' 'Longmeadow' 'Lowell' 'Ludlow' 'Lunenburg' 'Lynn' 'Lynnfield'
 'Malden' 'Manchester' 'Mansfield' 'Marblehead' 'Marion' 'Marlborough'
 'Marshfield' 'Marstons Mills' 'Mashpee' 'Mattapoisett' 'Maynard'
 'Medfield' 'Medford' 'Medway' 'Melrose' 'Mendon' 'Merrimac' 'Methuen'
 'Middleboro' 'Middleton' 'Milford' 'Millbury' 'Milton' 'Monson'
 'Montague' 'Monterey' 'Mount Washington' 'Nahant' 'Nantucket' 'Natick'
 'Needham' 'New Bedford' 'New Marlborough' 'New Seabury' 'Newbury'
 'Newburyport' 'Newton' 'Norfolk' 'North Adams' 'North Andover'
 'North Attleboro' 'North Brookfield' 'North Chatham' 'North Falmouth'
 'North Reading' 'Northampton' 'Northborough' 'Northbridge' 'Norton'
 'Norwell' 'Norwood' 'Oak Bluffs' 'Oakham' 'Orange' 'Orleans' 'Osterville'
 'Otis' 'Oxford' 'Palmer' 'Paxton' 'Peabody' 'Pelham' 'Pembroke'
 'Pepperell' 'Phillipston' 'Pittsfield' 'Plainfield' 'Plainville'
 'Plymouth' 'Plympton' 'Pocasset' 'Popponesset' 'Princeton' 'Provincetown'
 'Quincy' 'Randolph' 'Raynham' 'Reading' 'Rehoboth' 'Revere' 'Rochester'
 'Rockland' 'Rockport' 'Rowley' 'Royalston' 'Russell' 'Rutland'
 'Sagamore Beach' 'Salem' 'Salisbury' 'Sandisfield' 'Sandwich' 'Saugus'
 'Savoy' 'Scituate' 'Seekonk' 'Sharon' 'Sheffield' 'Sherborn' 'Shirley'
 'Shrewsbury' 'Somerset' 'Somerville' 'South Chatham' 'South Dennis'
 'South Hadley' 'South Yarmouth' 'Southampton' 'Southborough'
 'Southbridge' 'Southwick' 'Spencer' 'Springfield' 'Sterling'
 'Stockbridge' 'Stoneham' 'Stoughton' 'Stow' 'Sturbridge' 'Sudbury'
 'Sunderland' 'Sutton' 'Swampscott' 'Swansea' 'Taunton' 'Templeton'
 'Tewksbury' 'Tisbury' 'Topsfield' 'Townsend' 'Truro' 'Tyngsborough'
 'Tyringham' 'Upton' 'Uxbridge' 'Vineyard Haven' 'Wakefield' 'Wales'
 'Walpole' 'Waltham' 'Ware' 'Wareham' 'Warren' 'Watertown' 'Wayland'
 'Webster' 'Wellesley' 'Wellfleet' 'Wenham' 'West Barnstable'
 'West Boylston' 'West Bridgewater' 'West Brookfield' 'West Dennis'
 'West Falmouth' 'West Harwich' 'West Newbury' 'West Springfield'
 'West Stockbridge' 'West Tisbury' 'West Wareham' 'West Yarmouth'
 'Westborough' 'Westfield' 'Westford' 'Westminster' 'Weston' 'Westport'
 'Westwood' 'Weymouth' 'Whately' 'Whitman' 'Wilbraham' 'Williamsburg'
 'Williamstown' 'Wilmington' 'Winchendon' 'Winchester' 'Winthrop' 'Woburn'
 'Woods Hole' 'Worcester' 'Worthington' 'Wrentham' 'Yarmouth'
 'Yarmouth Port'
}

df['crime_index'] = df['city'].map(crime_index_dict)

print(df.info)

SyntaxError: ignored

In [9]:
# Get unique values from the city column
unique_cities = df['city'].unique()
print(unique_cities)
print(len(unique_cities))

['Abington' 'Acton' 'Acushnet' 'Adams' 'Agawam' 'Alford' 'Amesbury'
 'Amherst' 'Andover' 'Aquinnah' 'Arlington' 'Ashburnham' 'Ashby'
 'Ashfield' 'Ashland' 'Athol' 'Attleboro' 'Auburn' 'Avon' 'Ayer'
 'Barnstable' 'Barre' 'Becket' 'Bedford' 'Belchertown' 'Bellingham'
 'Belmont' 'Berkley' 'Berlin' 'Bernardston' 'Beverly' 'Billerica'
 'Blackstone' 'Blandford' 'Bolton' 'Boston' 'Bourne' 'Bournedale'
 'Boxborough' 'Boxford' 'Boylston' 'Braintree' 'Brewster' 'Bridgewater'
 'Brimfield' 'Brockton' 'Brookfield' 'Brookline' 'Buckland' 'Burlington'
 'Buzzards Bay' 'Cambridge' 'Canton' 'Carlisle' 'Carver' 'Cataumet'
 'Centerville' 'Charlton' 'Chatham' 'Chelmsford' 'Chelsea' 'Cheshire'
 'Chester' 'Chesterfield' 'Chicopee' 'Chilmark' 'Clarksburg' 'Clinton'
 'Cohasset' 'Colrain' 'Concord' 'Conway' 'Cotuit' 'Cummaquid' 'Cummington'
 'Dalton' 'Danvers' 'Dartmouth' 'Dedham' 'Deerfield' 'Dennis'
 'Dennis Port' 'Dighton' 'Douglas' 'Dover' 'Dracut' 'Dudley' 'Dunstable'
 'Duxbury' 'East Bridgewater' 'East Brookfield' 'East Dennis'
 'East Falmouth' 'East Harwich' 'East Longmeadow' 'East Sandwich'
 'East Wareham' 'Eastham' 'Easthampton' 'Easton' 'Edgartown' 'Egremont'
 'Erving' 'Essex' 'Everett' 'Fairhaven' 'Fall River' 'Falmouth'
 'Fitchburg' 'Florida' 'Forestdale' 'Foxboro' 'Framingham' 'Framington'
 'Franklin' 'Freetown' 'Gardner' 'Georgetown' 'Gill' 'Gloucester'
 'Grafton' 'Granby' 'Granville' 'Great Barrington' 'Greenfield' 'Groton'
 'Groveland' 'Hadley' 'Halifax' 'Hamilton' 'Hampden' 'Hancock' 'Hanover'
 'Hanson' 'Hardwick' 'Harvard' 'Harwich' 'Harwich Port' 'Hatfield'
 'Haverhill' 'Hingham' 'Hinsdale' 'Holbrook' 'Holden' 'Holland'
 'Holliston' 'Holyoke' 'Hopedale' 'Hopkinton' 'Hubbardston' 'Hudson'
 'Hull' 'Huntington' 'Hyannis' 'Hyannis Port' 'Hyde Park' 'Ipswich'
 'Kingston' 'Lakeville' 'Lancaster' 'Lanesborough' 'Lawrence' 'Lee'
 'Leicester' 'Lenox' 'Leominster' 'Leverett' 'Lexington' 'Lincoln'
 'Littleton' 'Longmeadow' 'Lowell' 'Ludlow' 'Lunenburg' 'Lynn' 'Lynnfield'
 'Malden' 'Manchester' 'Mansfield' 'Marblehead' 'Marion' 'Marlborough'
 'Marshfield' 'Marstons Mills' 'Mashpee' 'Mattapoisett' 'Maynard'
 'Medfield' 'Medford' 'Medway' 'Melrose' 'Mendon' 'Merrimac' 'Methuen'
 'Middleboro' 'Middleton' 'Milford' 'Millbury' 'Millis' 'Millville'
 'Milton' 'Monroe' 'Monson' 'Montague' 'Monterey' 'Montgomery'
 'Monument Beach' 'Mount Washington' 'Nahant' 'Nantucket' 'Natick'
 'Needham' 'New Ashford' 'New Bedford' 'New Braintree' 'New Marlboro'
 'New Marlborough' 'New Salem' 'New Seabury' 'Newbury' 'Newburyport'
 'Newton' 'Norfolk' 'North Adams' 'North Andover' 'North Attleboro'
 'North Brookfield' 'North Chatham' 'North Eastham' 'North Falmouth'
 'North Reading' 'North Truro' 'Northampton' 'Northborough' 'Northbridge'
 'Norton' 'Norwell' 'Norwood' 'Oak Bluffs' 'Oakham' 'Onset' 'Orange'
 'Orleans' 'Osterville' 'Otis' 'Oxford' 'Palmer' 'Paxton' 'Peabody'
 'Pelham' 'Pembroke' 'Pepperell' 'Peru' 'Phillipston' 'Pittsfield'
 'Plainfield' 'Plainville' 'Plymouth' 'Plympton' 'Pocasset' 'Popponesset'
 'Popponesset Island' 'Princeton' 'Provincetown' 'Quincy' 'Randolph'
 'Raynham' 'Reading' 'Rehoboth' 'Revere' 'Richmond' 'Rochester' 'Rockland'
 'Rockport' 'Rowley' 'Royalston' 'Russell' 'Rutland' 'Sagamore Beach'
 'Salem' 'Salisbury' 'Sandisfield' 'Sandwich' 'Saugus' 'Savoy' 'Scituate'
 'Seekonk' 'Sharon' 'Sheffield' 'Shelburne' 'Sherborn' 'Shirley'
 'Shrewsbury' 'Shutesbury' 'Siasconset' 'Somerset' 'Somerville'
 'South Chatham' 'South Dennis' 'South Hadley' 'South Yarmouth'
 'Southampton' 'Southborough' 'Southbridge' 'Southwick' 'Spencer'
 'Springfield' 'Sterling' 'Stockbridge' 'Stoneham' 'Stoughton' 'Stow'
 'Sturbridge' 'Sudbury' 'Sunderland' 'Sutton' 'Swampscott' 'Swansea'
 'Taunton' 'Teaticket' 'Templeton' 'Tewksbury' 'Tisbury' 'Tolland'
 'Topsfield' 'Townsend' 'Truro' 'Tyngsborough' 'Tyringham' 'Upton'
 'Uxbridge' 'Vineyard Haven' 'Wakefield' 'Wales' 'Walpole' 'Waltham'
 'Ware' 'Wareham' 'Warren' 'Warwick' 'Washington' 'Watertown' 'Wayland'
 'Webster' 'Wellesley' 'Wellfleet' 'Wenham' 'West Barnstable'
 'West Boylston' 'West Bridgewater' 'West Brookfield' 'West Dennis'
 'West Falmouth' 'West Harwich' 'West Newbury' 'West Springfield'
 'West Stockbridge' 'West Tisbury' 'West Wareham' 'West Yarmouth'
 'Westborough' 'Westfield' 'Westford' 'Westhampton' 'Westminster' 'Weston'
 'Westport' 'Westwood' 'Weymouth' 'Whately' 'Whitman' 'Wilbraham'
 'Williamsburg' 'Williamstown' 'Wilmington' 'Winchendon' 'Winchester'
 'Windsor' 'Winthrop' 'Woburn' 'Woods Hole' 'Worcester' 'Worthington'
 'Wrentham' 'Yarmouth' 'Yarmouth Port']
386

In [10]:
# Lingji's cell
# Adding column(feature): Personal_property_tax_rate
df['Personal_property_tax_rate'] = np.zeros(len(df))

Personal_property_tax_rate_dict = {
  'Abington': 15.22,
  'Acton': 19.45,
  'Adams': 26.16,
  'Agawam': 30.58,
  'Alford': 5.25,
  'Amesbury': 17.69,
  'Amherst': 21.27,
  'Andover': 29.29,
  'Arlington': 11.42,
  'Ashburnham': 18.88,
  'Ashby': 17.69,
  'Ashland': 15.88,
  'Athol': 16.05,
  'Attleboro': 21.13,
  'Auburn': 20.42,
  'Avon': 29.88,
  'Ayer': 28.28,
  'Barnstable': 7.85,
  'Barre': 16.84,
  'Becket': 10.80,
  'Bedford': 29.93,
  'Belchertown': 17.66,
  'Bellingham': 19.97,
  'Belmont': 11.56,
  'Berkley': 13.75,
  'Bernardston': 17.20,
  'Beverly': 23.90,
  'Billerica': 28.78,
  'Blackstone': 17.90,
  'Blandford': 14.79,
  'Bolton': 19.87,
  'Boston': 24.98,
  'Bourne': 10.09,
  'Bournedale': 10.09,
  'Boxborough': 17.42,
  'Boxford': 15.22,
  'Braintree': 21.55,
  'Brewster': 7.85,
  'Bridgewater': 14.32,
  'Brimfield': 16.43,
  'Brockton': 28.18,
  'Brookline': 16.56,
  'Buckland': 16.78,
  'Burlington': 26.64,
  'Buzzards Bay': 10.09,
  'Cambridge': 11.23,
  'Canton': 24.18,
  'Carlisle': 16.50,
  'Carver': 25.41,
  'Centerville': 7.85,
  'Charlton': 13.29,
  'Chatham': 4.62,
  'Chelmsford': 19.70,
  'Chelsea': 25.72,
  'Cheshire': 12.76,
  'Chester': 19.18,
  'Chicopee': 37.40,
  'Chilmark': 2.82,
  'Clarksburg': 16.48,
  'Clinton': 25.06,
  'Cohasset': 12.56,
  'Colrain': 20.48,
  'Concord': 14.76,
  'Cotuit': 7.85,
  'Cummaquid': 7.85,
  'Cummington': 14.45,
  'Dalton': 20.74,
  'Danvers': 20.54,
  'Dartmouth': 17.41,
  'Dedham': 27.93,
  'Deerfield': 15.17,
  'Dennis': 5.60,
  'Dennis Port': 5.60,
  'Dighton': 26.17,
  'Douglas': 16.34,
  'Dover': 12.42,
  'Dracut': 12.29,
  'Dudley': 11.70,
  'Dunstable': 15.25,
  'Duxbury': 12.84,
  'East Bridgewater': 15.60,
  'East Brookfield': 13.53,
  'East Dennis': 5.60,
  'East Falmouth': 8.05,
  'East Harwich': 8.11,
  'East Longmeadow': 20.29,
  'East Sandwich': 13.16,
  'East Wareham': 10.87,
  'Eastham': 8.58,
  'Easthampton': 16.53,
  'Easton': 15.39,
  'Edgartown': 3.03,
  'Egremont': 7.93,
  'Essex': 15.70,
  'Everett': 24.04,
  'Fairhaven': 20.39,
  'Fall River': 27.03,
  'Falmouth': 8.05,
  'Fitchburg': 17.61,
  'Florida': 20.12,
  'Forestdale': 13.16,
  'Foxboro': 18.84,
  'Framingham': 29.00,
  'Franklin': 14.05,
  'Freetown': 20.56,
  'Gardner': 18.59,
  'Georgetown': 14.08,
  'Gloucester': 12.12,
  'Grafton': 16.88,
  'Granby': 19.06,
  'Granville':15.28,
  'Great Barrington': 14.86,
  'Greenfield': 22.32,
  'Groton': 17.19,
  'Hadley': 13.45,
  'Halifax': 16.01,
  'Hamilton': 17.88,
  'Hampden': 18.72,
  'Hancock': 3.00,
  'Hanover': 15.95,
  'Hanson': 15.09,
  'Hardwick': 14.70,
  'Harwich': 8.11,
  'Harwich Port': 8.11,
  'Haverhill': 23.30,
  'Hingham': 11.56,
  'Hinsdale': 13.66,
  'Holbrook': 32.68,
  'Holden': 16.56,
  'Holland': 15.54,
  'Holliston': 17.38,
  'Holyoke': 40.60,
  'Hopedale': 27.66,
  'Hopkinton': 17.02,
  'Hubbardston': 14.00,
  'Hudson': 31.60,
  'Hull': 12.54,
  'Huntington': 17.56,
  'Hyannis': 7.85,
  'Hyde Park': 24.98,
  'Ipswich': 12.86,
  'Kingston': 14.58,
  'Lakeville': 12.07,
  'Lancaster': 19.45,
  'Lanesborough': 19.10,
  'Lawrence': 24.21,
  'Lee': 13.65,
  'Leicester': 13.99,
  'Lenox': 13.46,
  'Leominster': 16.56,
  'Leverett': 18.84,
  'Lexington': 28.18,
  'Lincoln': 20.77,
  'Littleton': 28.05,
  'Longmeadow': 24.64,
  'Lowell': 25.18,
  'Ludlow': 19.99,
  'Lunenburg': 17.19,
  'Lynn': 23.70,
  'Lynnfield': 19.32,
  'Malden': 19.17,
  'Manchester': 10.60,
  'Mansfield': 18.88,
  'Marblehead': 10.52,
  'Marion': 10.85,
  'Marlborough': 22.17,
  'Marshfield': 12.95,
  'Marstons Mills': 7.85,
  'Mashpee': 8.03,
  'Mattapoisett': 12.40,
  'Maynard': 27.36,
  'Medfield': 17.42,
  'Medford': 17.23,
  'Medway': 16.93,
  'Melrose': 18.03,
  'Mendon': 15.41,
  'Merrimac': 16.34,
  'Methuen': 25.62,
  'Middleboro': 16.33,
  'Middleton': 13.25,
  'Milford': 28.44,
  'Millbury': 15.00,
  'Milton': 19.12,
  'Monson': 17.83,
  'Montague': 25.83,
  'Monterey':7.28,
  'Mount Washington': 6.11,
  'Nahant':9.79,
  'Nantucket': 6.40,
  'Natick': 13.34,
  'Needham': 26.43,
  'New Bedford': 33.51,
  'New Marlborough': 9.30,
  'New Seabury': 8.03,
  'Newbury': 9.73,
  'Newburyport': 12.01,
  'Newton': 19.95,
  'Norfolk': 18.20,
  'North Adams': 39.26,
  'North Andover': 18.73,
  'North Attleboro': 17.04,
  'North Brookfield': 14.86,
  'North Chatham': 4.62,
  'North Falmouth': 8.05,
  'North Reading': 15.00,
  'Northampton': 17.89,
  'Northborough': 16.49,
  'Northbridge': 13.77,
  'Norton': 14.26,
  'Norwell': 16.62,
  'Norwood': 24.00,
  'Oak Bluffs': 6.75,
  'Oakham': 12.72,
  'Orange': 19.12,
  'Orleans': 7.20,
  'Osterville': 7.85,
  'Otis': 7.75,
  'Oxford': 16.16,
  'Palmer': 19.83,
  'Paxton': 18.98,
  'Peabody': 21.14,
  'Pelham': 20.56,
  'Pembroke': 14.15,
  'Pepperell': 17.15,
  'Phillipston': 15.58,
  'Pittsfield': 39.90,
  'Plainfield': 19.95,
  'Plainville': 18.20,
  'Plymouth': 15.43,
  'Plympton': 16.81,
  'Pocasset': 10.09,
  'Popponesset': 8.03,
  'Princeton': 15.68,
  'Provincetown': 6.37,
  'Quincy': 23.86,
  'Randolph': 26.35,
  'Raynham': 20.29,
  'Reading': 13.55,
  'Rehoboth': 12.67,
  'Revere': 20.56,
  'Rochester': 12.74,
  'Rockland': 16.75,
  'Rockport': 9.82,
  'Rowley': 14.62,
  'Royalston': 12.21,
  'Russell': 19.90,
  'Rutland': 15.79,
  'Sagamore Beach': 8.03,
  'Salem': 26.31,
  'Salisbury': 11.14,
  'Sandisfield': 12.90,
  'Sandwich': 13.16,
  'Saugus': 24.87,
  'Savoy': 14.40,
  'Scituate': 12.62,
  'Seekonk': 29.43,
  'Sharon': 19.75,
  'Sheffield': 12.44,
  'Sherborn': 19.03,
  'Shirley': 15.48,
  'Shrewsbury': 14.11,
  'Somerset': 25.81,
  'Somerville': 16.85,
  'South Chatham': 4.62,
  'South Dennis': 5.60,
  'South Hadley': 16.45,
  'South Yarmouth': 9.18,
  'Southampton': 15.07,
  'Southborough': 16.28,
  'Southbridge': 17.90,
  'Southwick': 16.98,
  'Spencer': 13.16,
  'Springfield': 39.04,
  'Sterling': 15.25,
  'Stockbridge': 9.38,
  'Stoneham': 19.81,
  'Stoughton': 24.20,
  'Stow': 19.56,
  'Sturbridge': 19.15,
  'Sudbury': 24.57,
  'Sunderland': 14.70,
  'Sutton': 15.18,
  'Swampscott': 23.20,
  'Swansea': 21.21,
  'Taunton': 28.87,
  'Templeton': 15.24,
  'Tewksbury': 27.25,
  'Tisbury': 8.12,
  'Topsfield': 16.65,
  'Townsend': 17.61,
  'Truro': 7.37,
  'Tyngsborough': 14.94,
  'Tyringham': 6.72,
  'Upton': 16.77,
  'Uxbridge': 15.16,
  'Vineyard Haven': 8.12,
  'Wakefield': 23.77,
  'Wales': 18.52,
  'Walpole': 19.22,
  'Waltham': 22.88,
  'Ware': 19.34,
  'Wareham': 10.87,
  'Warren': 15.56,
  'Watertown': 21.28,
  'Wayland': 18.35,
  'Webster': 13.96,
  'Wellesley': 11.68,
  'Wellfleet': 7.43,
  'Wenham': 19.58,
  'West Barnstable': 7.85,
  'West Boylston': 17.68,
  'West Bridgewater': 29.06,
  'West Brookfield': 13.23,
  'West Dennis': 5.60,
  'West Falmouth': 8.05,
  'West Harwich': 8.11,
  'West Newbury': 13.01,
  'West Springfield': 30.92,
  'West Stockbridge': 12.56,
  'West Tisbury': 5.82,
  'West Wareham': 10.87,
  'West Yarmouth': 9.18,
  'Westborough': 18.49,
  'Westfield': 36.31,
  'Westford': 16.12,
  'Westminster': 15.80,
  'Weston': 12.81,
  'Westport': 8.48,
  'Westwood': 28.99,
  'Weymouth': 18.36,
  'Whately': 13.71,
  'Whitman': 14.56,
  'Wilbraham': 20.49,
  'Williamsburg': 19.44,
  'Williamstown': 16.92,
  'Wilmington': 30.06,
  'Winchendon': 15.11,
  'Winchester': 11.89,
  'Winthrop': 11.76,
  'Woburn': 22.77,
  'Woods Hole': 8.05,
  'Worcester': 33.33,
  'Worthington': 16.04,
  'Wrentham': 18.15,
  'Yarmouth': 9.18,
  'Yarmouth Port': 9.18
}

df['Personal_property_tax_rate'] = df['city'].map(Personal_property_tax_rate_dict)

print(df.info)

<bound method DataFrame.info of         bed  bath  acre_lot           city          state  zip_code  \
0       3.0   2.0      0.20       Abington  Massachusetts    2351.0
3       8.0   4.0      0.29       Abington  Massachusetts    2351.0
4       3.0   2.0      0.20       Abington  Massachusetts    2351.0
5       3.0   2.0      0.29       Abington  Massachusetts    2351.0
6       3.0   2.0      0.45       Abington  Massachusetts    2351.0
...     ...   ...       ...            ...            ...       ...
173473  3.0   2.0      0.46  Yarmouth Port  Massachusetts    2675.0
173474  3.0   3.0      0.46  Yarmouth Port  Massachusetts    2675.0
173475  3.0   2.0      0.34  Yarmouth Port  Massachusetts    2675.0
173476  5.0   7.0      1.97  Yarmouth Port  Massachusetts    2675.0
173477  3.0   2.0      0.28  Yarmouth Port  Massachusetts    2675.0

        house_size    price  Personal_property_tax_rate
0           1536.0   525000                       15.22
3           3343.0   695000                       15.22
4           1536.0   525000                       15.22
5           1575.0   449900                       15.22
6           1932.0   649900                       15.22
...            ...      ...                         ...
173473      2334.0   749000                        9.18
173474      3500.0  1050000                        9.18
173475      1784.0   599000                        9.18
173476      6182.0  3750000                        9.18
173477      1192.0   499000                        9.18

[102751 rows x 9 columns]>

In [ ]:
# Lingji's cell
# Adding column(feature): Population density per city (/sq mi)
df['Population_density_per_city (/sq mi)'] = np.zeros(len(df))

In [12]:
#Feiquan
#Adding feature : Median Household Income by zipcode
#path = "MaMedianHouseholdIncomeZip.xlsx"
import requests
import pandas as pd
url='https://github.com/leoPuerto01/CS539-project/raw/main/MaMedianHouseholdIncomeZip.xlsx'
response = requests.get(url)
dest = 'MaMedianHouseholdIncomeZip.xlsx'
dfIncome=pd.read_excel(dest,dtype={'zip_code': np.float64})
df=df.merge(dfIncome,how='left',on=['zip_code'])
print(df)

FileNotFoundError: ignored

In [2]:
#Feiquan
#Adding feature : Average Education Index by zipcode
# = "MaAverageEducationIndexZip.xlsx"
import requests
import pandas as pd
url='https://github.com/leoPuerto01/CS539-project/raw/main/MaAverageEducationIndexZip.xlsx'
response = requests.get(url)
dest = 'MaAverageEducationIndexZip.xlsx'
dfEdu=pd.read_excel(dest,dtype={'zip_code': np.float64})
df=df.merge(dfEdu,how='left',on=['zip_code'])
print(df)

NameError: ignored