<a href="https://colab.research.google.com/github/leoPuerto01/CS539-project/blob/main/CS_539_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
path = "ma.xlsx"
df = pd.read_excel(path)
print(df.info)

<bound method DataFrame.info of           status  bed  bath  acre_lot           city          state  zip_code  \
0       for_sale  3.0   2.0      0.20       Abington  Massachusetts    2351.0
1       for_sale  2.0   1.0       NaN       Abington  Massachusetts    2351.0
2       for_sale  NaN   NaN      9.11       Abington  Massachusetts    2351.0
3       for_sale  8.0   4.0      0.29       Abington  Massachusetts    2351.0
4       for_sale  3.0   2.0      0.20       Abington  Massachusetts    2351.0
...          ...  ...   ...       ...            ...            ...       ...
173474  for_sale  3.0   3.0      0.46  Yarmouth Port  Massachusetts    2675.0
173475  for_sale  3.0   2.0      0.34  Yarmouth Port  Massachusetts    2675.0
173476  for_sale  5.0   7.0      1.97  Yarmouth Port  Massachusetts    2675.0
173477  for_sale  3.0   2.0      0.28  Yarmouth Port  Massachusetts    2675.0
173478  for_sale  2.0   2.0       NaN  Yarmouth Port  Massachusetts    2675.0

        house_size prev_sold_date    price
0           1536.0     1990-01-26   525000
1            896.0     2007-05-31   269000
2              NaN            NaT   250000
3           3343.0            NaT   695000
4           1536.0     1990-01-26   525000
...            ...            ...      ...
173474      3500.0     2000-05-22  1050000
173475      1784.0            NaT   599000
173476      6182.0            NaT  3750000
173477      1192.0     2004-05-25   499000
173478      1108.0            NaT   449000

[173479 rows x 10 columns]>

In [ ]:
# Remove rows with missing values
df = df.dropna()
print(df.info)

<bound method DataFrame.info of           status  bed  bath  acre_lot           city          state  zip_code  \
0       for_sale  3.0   2.0      0.20       Abington  Massachusetts    2351.0
4       for_sale  3.0   2.0      0.20       Abington  Massachusetts    2351.0
5       for_sale  3.0   2.0      0.29       Abington  Massachusetts    2351.0
6       for_sale  3.0   2.0      0.45       Abington  Massachusetts    2351.0
11      for_sale  3.0   2.0      0.25       Abington  Massachusetts    2351.0
...          ...  ...   ...       ...            ...            ...       ...
173469  for_sale  5.0   2.0      1.01  Yarmouth Port  Massachusetts    2675.0
173471  for_sale  4.0   3.0      0.28  Yarmouth Port  Massachusetts    2675.0
173473  for_sale  3.0   2.0      0.46  Yarmouth Port  Massachusetts    2675.0
173474  for_sale  3.0   3.0      0.46  Yarmouth Port  Massachusetts    2675.0
173477  for_sale  3.0   2.0      0.28  Yarmouth Port  Massachusetts    2675.0

        house_size prev_sold_date    price
0           1536.0     1990-01-26   525000
4           1536.0     1990-01-26   525000
5           1575.0     2006-05-31   449900
6           1932.0     1985-06-03   649900
11          1860.0     2001-09-28   589900
...            ...            ...      ...
173469      1705.0     2007-09-14   695000
173471      2250.0     1997-07-31   550000
173473      2334.0     2008-12-01   749000
173474      3500.0     2000-05-22  1050000
173477      1192.0     2004-05-25   499000

[51530 rows x 10 columns]>

In [ ]:
uniqueCitiesZipcode=df[['city','zip_code']].drop_duplicates()
print(uniqueCitiesZipcode)

                 city  zip_code
0            Abington    2351.0
166             Acton    1720.0
180             Acton    1718.0
964          Acushnet    2743.0
1061            Adams    1220.0
...               ...       ...
172848       Wrentham    2893.0
173154       Yarmouth    2673.0
173159       Yarmouth    2664.0
173162       Yarmouth    2675.0
173255  Yarmouth Port    2675.0

[615 rows x 2 columns]

In [ ]:
# Get unique values from the city column
unique_cities = df['city'].unique()
print(unique_cities)
print(len(unique_cities))

['Abington' 'Acton' 'Adams' 'Agawam' 'Alford' 'Amesbury' 'Amherst'
 'Andover' 'Arlington' 'Ashburnham' 'Ashby' 'Ashland' 'Athol' 'Attleboro'
 'Auburn' 'Avon' 'Ayer' 'Barnstable' 'Barre' 'Becket' 'Bedford'
 'Belchertown' 'Bellingham' 'Belmont' 'Berkley' 'Bernardston' 'Beverly'
 'Billerica' 'Blackstone' 'Blandford' 'Bolton' 'Boston' 'Bourne'
 'Bournedale' 'Boxborough' 'Boxford' 'Braintree' 'Brewster' 'Bridgewater'
 'Brimfield' 'Brockton' 'Brookline' 'Buckland' 'Burlington' 'Buzzards Bay'
 'Cambridge' 'Canton' 'Carlisle' 'Carver' 'Centerville' 'Charlton'
 'Chatham' 'Chelmsford' 'Chelsea' 'Cheshire' 'Chester' 'Chicopee'
 'Chilmark' 'Clarksburg' 'Clinton' 'Cohasset' 'Colrain' 'Concord' 'Cotuit'
 'Cummaquid' 'Cummington' 'Dalton' 'Danvers' 'Dartmouth' 'Dedham'
 'Deerfield' 'Dennis' 'Dennis Port' 'Dighton' 'Douglas' 'Dover' 'Dracut'
 'Dudley' 'Dunstable' 'Duxbury' 'East Bridgewater' 'East Brookfield'
 'East Dennis' 'East Falmouth' 'East Harwich' 'East Longmeadow'
 'East Sandwich' 'East Wareham' 'Eastham' 'Easthampton' 'Easton'
 'Edgartown' 'Egremont' 'Essex' 'Everett' 'Fairhaven' 'Fall River'
 'Falmouth' 'Fitchburg' 'Florida' 'Forestdale' 'Foxboro' 'Framingham'
 'Franklin' 'Freetown' 'Gardner' 'Georgetown' 'Gloucester' 'Grafton'
 'Granby' 'Granville' 'Great Barrington' 'Greenfield' 'Groton' 'Hadley'
 'Halifax' 'Hamilton' 'Hampden' 'Hancock' 'Hanover' 'Hanson' 'Hardwick'
 'Harwich' 'Harwich Port' 'Haverhill' 'Hingham' 'Hinsdale' 'Holbrook'
 'Holden' 'Holland' 'Holliston' 'Holyoke' 'Hopedale' 'Hopkinton'
 'Hubbardston' 'Hudson' 'Hull' 'Huntington' 'Hyannis' 'Hyde Park'
 'Ipswich' 'Kingston' 'Lakeville' 'Lancaster' 'Lanesborough' 'Lawrence'
 'Lee' 'Leicester' 'Lenox' 'Leominster' 'Leverett' 'Lexington' 'Lincoln'
 'Littleton' 'Longmeadow' 'Lowell' 'Ludlow' 'Lunenburg' 'Lynn' 'Lynnfield'
 'Malden' 'Manchester' 'Mansfield' 'Marblehead' 'Marion' 'Marlborough'
 'Marshfield' 'Marstons Mills' 'Mashpee' 'Mattapoisett' 'Maynard'
 'Medfield' 'Medford' 'Medway' 'Melrose' 'Mendon' 'Merrimac' 'Methuen'
 'Middleboro' 'Middleton' 'Milford' 'Millbury' 'Milton' 'Monson'
 'Montague' 'Monterey' 'Mount Washington' 'Nahant' 'Nantucket' 'Natick'
 'Needham' 'New Bedford' 'New Marlborough' 'New Seabury' 'Newbury'
 'Newburyport' 'Newton' 'Norfolk' 'North Adams' 'North Andover'
 'North Attleboro' 'North Brookfield' 'North Chatham' 'North Falmouth'
 'North Reading' 'Northampton' 'Northborough' 'Northbridge' 'Norton'
 'Norwell' 'Norwood' 'Oak Bluffs' 'Oakham' 'Orange' 'Orleans' 'Osterville'
 'Otis' 'Oxford' 'Palmer' 'Paxton' 'Peabody' 'Pelham' 'Pembroke'
 'Pepperell' 'Phillipston' 'Pittsfield' 'Plainfield' 'Plainville'
 'Plymouth' 'Plympton' 'Pocasset' 'Popponesset' 'Princeton' 'Provincetown'
 'Quincy' 'Randolph' 'Raynham' 'Reading' 'Rehoboth' 'Revere' 'Rochester'
 'Rockland' 'Rockport' 'Rowley' 'Royalston' 'Russell' 'Rutland'
 'Sagamore Beach' 'Salem' 'Salisbury' 'Sandisfield' 'Sandwich' 'Saugus'
 'Savoy' 'Scituate' 'Seekonk' 'Sharon' 'Sheffield' 'Sherborn' 'Shirley'
 'Shrewsbury' 'Somerset' 'Somerville' 'South Chatham' 'South Dennis'
 'South Hadley' 'South Yarmouth' 'Southampton' 'Southborough'
 'Southbridge' 'Southwick' 'Spencer' 'Springfield' 'Sterling'
 'Stockbridge' 'Stoneham' 'Stoughton' 'Stow' 'Sturbridge' 'Sudbury'
 'Sunderland' 'Sutton' 'Swampscott' 'Swansea' 'Taunton' 'Templeton'
 'Tewksbury' 'Tisbury' 'Topsfield' 'Townsend' 'Truro' 'Tyngsborough'
 'Tyringham' 'Upton' 'Uxbridge' 'Vineyard Haven' 'Wakefield' 'Wales'
 'Walpole' 'Waltham' 'Ware' 'Wareham' 'Warren' 'Watertown' 'Wayland'
 'Webster' 'Wellesley' 'Wellfleet' 'Wenham' 'West Barnstable'
 'West Boylston' 'West Bridgewater' 'West Brookfield' 'West Dennis'
 'West Falmouth' 'West Harwich' 'West Newbury' 'West Springfield'
 'West Stockbridge' 'West Tisbury' 'West Wareham' 'West Yarmouth'
 'Westborough' 'Westfield' 'Westford' 'Westminster' 'Weston' 'Westport'
 'Westwood' 'Weymouth' 'Whately' 'Whitman' 'Wilbraham' 'Williamsburg'
 'Williamstown' 'Wilmington' 'Winchendon' 'Winchester' 'Winthrop' 'Woburn'
 'Woods Hole' 'Worcester' 'Worthington' 'Wrentham' 'Yarmouth'
 'Yarmouth Port']
346

In [ ]:
# Get unique values from the zip_code column
unique_zipcodes = df['zip_code'].unique()
print(unique_zipcodes)
print(len(unique_zipcodes))

[2351. 1720. 1220. 1001. 1030. 1230. 1266. 1913. 1002. 1810. 2476. 2474.
 1430. 1431. 1721. 1331. 2703. 1501. 2322. 1432. 2648. 2601. 2655. 2632.
 2630. 1005. 1223. 1730. 1007. 2019. 2478. 2779. 1337. 1915. 1862. 1821.
 1504. 1008. 1740. 2135. 2130. 2131. 2115. 2108. 2116. 2114. 2215. 2129.
 2134. 2467. 2199. 2119. 2120. 2132. 2121. 2118. 2124. 2128. 2111. 2125.
 2127. 2109. 2136. 2110. 2122. 2113. 2126. 2210. 2532. 2559. 2562. 1719.
 1921. 2184. 2631. 2324. 1010. 2301. 2302. 2446. 2445. 1339. 1803. 2138.
 2141. 2140. 2139. 2021. 1741. 2330. 1507. 2633. 1824. 2150. 1225. 1011.
 1020. 1013. 2535. 1247. 1510. 2025. 1340. 1742. 2635. 2675. 1026. 1226.
 1923. 2747. 2748. 2026. 1373. 2638. 2639. 2715. 1516. 2030. 1826. 1571.
 1827. 2332. 2333. 1515. 2641. 2536. 2645. 1028. 2537. 2538. 2642. 1027.
 2356. 2375. 2539. 1929. 2149. 2719. 2720. 2721. 2723. 2724. 2540. 2556.
 1420. 2644. 2035. 1701. 1702. 2038. 2717. 1440. 1833. 1930. 1560. 1536.
 1033. 1034. 1301. 1450. 1035. 2338. 1982. 1036. 1237. 2339. 2341. 1031.
 2646. 1830. 1832. 1835. 2043. 1235. 2343. 1520. 1521. 1746. 1040. 1747.
 1748. 1452. 1749. 2045. 1050. 1938. 2364. 2347. 1523. 1841. 1843. 1840.
 1238. 1524. 1240. 1453. 1054. 2420. 2421. 1773. 1460. 1106. 1854. 1851.
 1852. 1850. 1056. 1462. 1901. 1902. 1904. 1905. 1940. 2148. 1944. 2048.
 1945. 2738. 1752. 2050. 2649. 2739. 1754. 2052. 2155. 2053. 2176. 1756.
 1860. 1844. 2346. 1949. 1757. 1527. 2186. 1057. 1351. 1258. 1908. 2554.
 1760. 2492. 2494. 2745. 2740. 2746. 2744. 1259. 1951. 1922. 1950. 2458.
 2465. 2468. 2460. 2459. 2461. 2462. 2466. 2464. 2056. 1845. 2760. 1535.
 2650. 1864. 1062. 1060. 1532. 1534. 1588. 2766. 2061. 2062. 2557. 2568.
 1068. 1364. 2653. 1253. 1540. 1537. 1069. 1612. 1960. 2359. 1463. 1201.
 1070. 2762. 2360. 2367. 1541. 2657. 2169. 2171. 2170. 2368. 2767. 1867.
 2769. 2151. 2770. 2370. 1966. 1969. 1368. 1071. 1543. 1970. 1952. 1255.
 2563. 1906. 1256. 2066. 2771. 2067. 1257. 1222. 1770. 1464. 1545. 2726.
 2725. 2145. 2143. 2144. 2659. 2660. 1075. 2664. 1073. 1772. 1550. 1077.
 1562. 1104. 1105. 1118. 1108. 1129. 1151. 1109. 1107. 1119. 1128. 1564.
 1262. 2180. 2072. 1775. 1566. 1518. 1776. 1375. 1590. 1907. 2777. 2780.
 2718. 1436. 1468. 1876. 1983. 1469. 1474. 2666. 1879. 1264. 1568. 1569.
 1880. 1081. 2032. 2081. 2451. 2453. 2452. 1082. 2571. 1092. 2472. 1778.
 1570. 2482. 2481. 2667. 1984. 2668. 1583. 2379. 1585. 2670. 2671. 1985.
 1089. 2575. 2576. 2673. 1581. 1085. 1886. 1473. 2493. 2790. 2791. 2090.
 2188. 2189. 2190. 2191. 1093. 2382. 1095. 1038. 1096. 1267. 1887. 1475.
 1890. 2152. 1801. 1604. 1602. 1610. 1605. 1603. 1606. 1607. 1609. 1098.
 2093.]
433

In [ ]:
df['crime_index'] = np.zeros(len(df))

crime_index_dict = {
  'Abington': 1074,
  'Acton': 474,
  'Adams': 1502,
  'Agawam': 666,
  'Alford': 1935,
  'Amesbury': 821,
  'Amherst': 833,
  'Andover': 423,
  'Arlington': 652,
  'Ashburnham': 675,
  'Ashby': 646,
  'Ashland': 518,
  'Athol': 1377,
  'Attleboro': 1114,
  'Auburn': 1370,
  'Avon': 1508,
  'Ayer': 1250,
  'Barnstable': 1929,
  'Barre': 1038,
  'Becket': 1062,
  'Bedford': 328,
  'Belchertown': 622,
  'Bellingham': 771,
  'Belmont': 553,
  'Berkley': 553,
  'Bernardston': 477,
  'Beverly': 840,
  'Billerica': 556,
  'Blackstone': 686,
  'Blandford': 482,
  'Bolton': 550,
  'Boston': 2609,
  'Bourne': 1597,
  'Bournedale': 1597,
  'Boxborough': 425,
  'Boxford': 164,
  'Braintree': 1026,
  'Brewster': 789,
  'Bridgewater': 489,
  'Brimfield': 243,
  'Brockton': 2605,
  'Brookline': 664,
  'Buckland': 531,
  'Burlington': 1028,
  'Buzzards Bay': 1597,
  'Cambridge': 1512,
  'Canton': 603,
  'Carlisle': 167,
  'Carver': 791,
  'Centerville': 1929,
  'Charlton': 591,
  'Chatham': 954,
  'Chelmsford': 610,
  'Chelsea': 3483,
  'Cheshire': 154,
  'Chester': 476,
  'Chicopee': 1820,
  'Chilmark': 658,
  'Clarksburg': 1935,
  'Clinton': 238,
  'Cohasset': 553,
  'Colrain': 3621,
  'Concord': 443,
  'Cotuit': 1929,
  'Cummaquid': 1929,
  'Cummington': 389,
  'Dalton': 748,
  'Danvers': 1171,
  'Dartmouth': 1248,
  'Dedham': 812,
  'Deerfield': 996,
  'Dennis': 1911,
  'Dennis Port': ,
  'Dighton': ,
  'Douglas': ,
  'Dover': ,
  'Dracut': ,
  'Dudley': ,
  'Dunstable': ,
  'Duxbury': ,
  'East Bridgewater': ,
  'East Brookfield': ,
  'East Dennis': ,
  'East Falmouth': ,
  'East Harwich': ,
  'East Longmeadow': ,
  'East Sandwich': ,
  'East Wareham': ,
  'Eastham': ,
  'Easthampton': ,
  'Easton': ,
  'Edgartown': ,
  'Egremont': ,
  'Essex': ,
  'Everett': ,
  'Fairhaven': ,
  'Fall River'
 'Falmouth' 'Fitchburg' 'Florida' 'Forestdale' 'Foxboro' 'Framingham'
 'Franklin' 'Freetown' 'Gardner' 'Georgetown' 'Gloucester' 'Grafton'
 'Granby' 'Granville' 'Great Barrington' 'Greenfield' 'Groton' 'Hadley'
 'Halifax' 'Hamilton' 'Hampden' 'Hancock' 'Hanover' 'Hanson' 'Hardwick'
 'Harwich' 'Harwich Port' 'Haverhill' 'Hingham' 'Hinsdale' 'Holbrook'
 'Holden' 'Holland' 'Holliston' 'Holyoke' 'Hopedale' 'Hopkinton'
 'Hubbardston' 'Hudson' 'Hull' 'Huntington' 'Hyannis' 'Hyde Park'
 'Ipswich' 'Kingston' 'Lakeville' 'Lancaster' 'Lanesborough' 'Lawrence'
 'Lee' 'Leicester' 'Lenox' 'Leominster' 'Leverett' 'Lexington' 'Lincoln'
 'Littleton' 'Longmeadow' 'Lowell' 'Ludlow' 'Lunenburg' 'Lynn' 'Lynnfield'
 'Malden' 'Manchester' 'Mansfield' 'Marblehead' 'Marion' 'Marlborough'
 'Marshfield' 'Marstons Mills' 'Mashpee' 'Mattapoisett' 'Maynard'
 'Medfield' 'Medford' 'Medway' 'Melrose' 'Mendon' 'Merrimac' 'Methuen'
 'Middleboro' 'Middleton' 'Milford' 'Millbury' 'Milton' 'Monson'
 'Montague' 'Monterey' 'Mount Washington' 'Nahant' 'Nantucket' 'Natick'
 'Needham' 'New Bedford' 'New Marlborough' 'New Seabury' 'Newbury'
 'Newburyport' 'Newton' 'Norfolk' 'North Adams' 'North Andover'
 'North Attleboro' 'North Brookfield' 'North Chatham' 'North Falmouth'
 'North Reading' 'Northampton' 'Northborough' 'Northbridge' 'Norton'
 'Norwell' 'Norwood' 'Oak Bluffs' 'Oakham' 'Orange' 'Orleans' 'Osterville'
 'Otis' 'Oxford' 'Palmer' 'Paxton' 'Peabody' 'Pelham' 'Pembroke'
 'Pepperell' 'Phillipston' 'Pittsfield' 'Plainfield' 'Plainville'
 'Plymouth' 'Plympton' 'Pocasset' 'Popponesset' 'Princeton' 'Provincetown'
 'Quincy' 'Randolph' 'Raynham' 'Reading' 'Rehoboth' 'Revere' 'Rochester'
 'Rockland' 'Rockport' 'Rowley' 'Royalston' 'Russell' 'Rutland'
 'Sagamore Beach' 'Salem' 'Salisbury' 'Sandisfield' 'Sandwich' 'Saugus'
 'Savoy' 'Scituate' 'Seekonk' 'Sharon' 'Sheffield' 'Sherborn' 'Shirley'
 'Shrewsbury' 'Somerset' 'Somerville' 'South Chatham' 'South Dennis'
 'South Hadley' 'South Yarmouth' 'Southampton' 'Southborough'
 'Southbridge' 'Southwick' 'Spencer' 'Springfield' 'Sterling'
 'Stockbridge' 'Stoneham' 'Stoughton' 'Stow' 'Sturbridge' 'Sudbury'
 'Sunderland' 'Sutton' 'Swampscott' 'Swansea' 'Taunton' 'Templeton'
 'Tewksbury' 'Tisbury' 'Topsfield' 'Townsend' 'Truro' 'Tyngsborough'
 'Tyringham' 'Upton' 'Uxbridge' 'Vineyard Haven' 'Wakefield' 'Wales'
 'Walpole' 'Waltham' 'Ware' 'Wareham' 'Warren' 'Watertown' 'Wayland'
 'Webster' 'Wellesley' 'Wellfleet' 'Wenham' 'West Barnstable'
 'West Boylston' 'West Bridgewater' 'West Brookfield' 'West Dennis'
 'West Falmouth' 'West Harwich' 'West Newbury' 'West Springfield'
 'West Stockbridge' 'West Tisbury' 'West Wareham' 'West Yarmouth'
 'Westborough' 'Westfield' 'Westford' 'Westminster' 'Weston' 'Westport'
 'Westwood' 'Weymouth' 'Whately' 'Whitman' 'Wilbraham' 'Williamsburg'
 'Williamstown' 'Wilmington' 'Winchendon' 'Winchester' 'Winthrop' 'Woburn'
 'Woods Hole' 'Worcester' 'Worthington' 'Wrentham' 'Yarmouth'
 'Yarmouth Port'
}

df['crime_index'] = df['city'].map(crime_index_dict)

print(df.info)

<bound method DataFrame.info of           status  bed  bath  acre_lot           city          state  zip_code  \
0       for_sale  3.0   2.0      0.20       Abington  Massachusetts    2351.0
4       for_sale  3.0   2.0      0.20       Abington  Massachusetts    2351.0
5       for_sale  3.0   2.0      0.29       Abington  Massachusetts    2351.0
6       for_sale  3.0   2.0      0.45       Abington  Massachusetts    2351.0
11      for_sale  3.0   2.0      0.25       Abington  Massachusetts    2351.0
...          ...  ...   ...       ...            ...            ...       ...
173469  for_sale  5.0   2.0      1.01  Yarmouth Port  Massachusetts    2675.0
173471  for_sale  4.0   3.0      0.28  Yarmouth Port  Massachusetts    2675.0
173473  for_sale  3.0   2.0      0.46  Yarmouth Port  Massachusetts    2675.0
173474  for_sale  3.0   3.0      0.46  Yarmouth Port  Massachusetts    2675.0
173477  for_sale  3.0   2.0      0.28  Yarmouth Port  Massachusetts    2675.0

        house_size prev_sold_date    price  crime_index
0           1536.0     1990-01-26   525000       1074.0
4           1536.0     1990-01-26   525000       1074.0
5           1575.0     2006-05-31   449900       1074.0
6           1932.0     1985-06-03   649900       1074.0
11          1860.0     2001-09-28   589900       1074.0
...            ...            ...      ...          ...
173469      1705.0     2007-09-14   695000          NaN
173471      2250.0     1997-07-31   550000          NaN
173473      2334.0     2008-12-01   749000          NaN
173474      3500.0     2000-05-22  1050000          NaN
173477      1192.0     2004-05-25   499000          NaN

[51530 rows x 11 columns]>